<div class="container">
  <table class="table">
    <% @app.endpoints.each do |e| %>
      <tr class="status-<%= e.health %>">
        <td><%= e.verb %></td>
        <td><%= e.signature %></td>
        <td>
          <span class="label <%= label_for_health(e.health) %>">
            <%= formatted_health_msg(e) %>
          </span>
        </td>
      </tr>
    <% end %>
  </table>
</div>